@media (min-width: 1930px) {
    .header {
        max-width: 1920px;
        width: 100%;
        padding-inline: 0;
    }

    .name{
        padding-left: 80px;
    }

    .links{
        padding-right: 96px;
    }
}

@media(max-width: 500px) {
    .links {

        >a {
            display: none;
        }
    }

    .burger-menu {
        display: flex;
    }

    .language{
        display: none;
    }
}