<div class="main-container">
    <div class="headline">
        <div class="purple-line"></div>
        <span>Contact</span>
    </div>
    <div class="content-container">
        <div class="left-side">
            <div class="info-text">
                <span>Got a problem to solve?</span>
                <span>Contact me through this form, I am interested in hearing you, knowing your ideas and contributing
                    to
                    your projects with my work.</span>
                <span>Need a Frontend developer? <b>Contact me!</b></span>
            </div>
        </div>
        <div class="right-side">
            <form autocomplete="off" (submit)="sendMail()" ngNativeValidate #myForm>
                <input required id="name-input" placeholder="Your name" type="text" name="name" #nameField>
                <input required id="email-input" placeholder="Your email" type="email" name="email" #mailField>
                <textarea required id="textarea" placeholder="Your message" name="message" id="" cols="30" rows="10" #textField></textarea >
                <div class="privacy"><img src="assets/img/icons/unchecked.png" alt=""> 
                    I've read the  <a href="">privacy policy</a> and agree to the processing of my data as outlined</div>
                    <button class="sendButton" #sendButton>Send Message</button>
            </form> 
            <div> 
                
            </div>
        </div>
 
    </div>

</div>