<div class="main-container">
    <div class="headline">
        <div class="purple-line"></div>
        <span>Contact</span>
    </div>
    <div class="content-container">
        <div class="left-side">
            <div class="info-text">
                <span>Got a problem to solve?</span>
                <span>Contact me through this form, I am interested in hearing you, knowing your ideas and contributing
                    to
                    your projects with my work.</span>
                <span>Need a Frontend developer? <b>Contact me!</b></span>
            </div>
        </div>
        <div class="right-side">
            <app-contact-form></app-contact-form>

            <div>

            </div>
        </div>

    </div>

</div>