<div *ngFor="let project of projects; let i = index" class="project-first" [ngClass]="{ 'even-index': isEven(i), 'odd-index': !isEven(i) }">
    <div class="left-side slide-in" [attr.data-direction]="isEven(i) ? 'right' : 'left'">
        <img  [src]="project.imageUrl" alt="">
    </div>
    <div class="right-side slide-in" [attr.data-direction]="isEven(i) ? 'left' : 'right'">
        <div [ngClass]="{ 'scale-description': isEven(i), 'no-scale-description': !isEven(i) }" class="description-container">
            <span  class="project-name">{{ project.projectName }}</span>
            <span class="languages">{{ project.languages }}</span>
            <span class="description">{{ project.projectDescription }}</span>
        </div>
        <div [ngClass]="{ 'scale-button': isEven(i) }" class="buttons">
            <a target="_blank" class="project-link" href={{project.projectLink}}><button class="live-test-button">Live Test</button></a>
            <a target="_blank" class="github-link" href={{project.githubLink}}><button class="github-button"> Github</button></a>                 
        </div>
    </div>
</div>
