.project-first {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-left: 80px;
    padding-right: 80px;
    padding-inline: 200px;
}

.left-side {
    width: 50%;
    display: flex;
    justify-content: center;
}

.right-side {
    width: 50%;
    display: flex;
    flex-direction: column;
    gap: 35px;
}

.description {
    font-family: 'Poppins';
    font-size: 16px;
    font-weight: 400;
    color: white;
}

.description-container {
    display: flex;
    flex-direction: column;
    gap: 15px;
}


.project-name {
    font-family: 'Poppins';
    font-size: 32px;
    font-weight: 700;
    color: rgb(151, 71, 255);
}

.languages {
    font-family: 'Poppins';
    font-size: 23px;
    font-weight: 400;
    color: rgba(112, 230, 28, 1);
}

.buttons {
    display: flex;
    gap: 86px;

    >button {
        cursor: pointer;
        transition: 125ms ease-in;

        &:hover {
            background-color: rgba(112, 230, 28, 1);
        }
    }
}

.live-test-button {
    border: none;
    border-radius: 10px;
    width: 152px;
    height: 58px;
    background-color: rgb(151, 71, 255);
    font-family: 'Poppins';
    font-size: 23px;
    font-weight: 400;
    color: white;
}


.github-button {
    width: 137px;
    height: 58px;
    border: 1px solid rgba(112, 230, 28, 1);
    border-radius: 10px;
    background-color: rgba(20, 29, 47, 1);
    font-family: 'Poppins';
    font-size: 23px;
    font-weight: 400;
    color: white;
}

.even-index {
    flex-direction: row-reverse;
}

.odd-index {
    flex-direction: row;
}

.scale-description {
    display: flex;
    align-items: end;
}

.no-scale-description {
    display: flex;
}

.scale-button{
    justify-content: end;
}