<div *ngFor="let project of projects; let i = index" class="project-first" [ngClass]="{ 'even-index': isEven(i), 'odd-index': !isEven(i) }">
    <div class="left-side">
        <img  [src]="project.imageUrl" alt="">
    </div>
    <div class="right-side">
        <div [ngClass]="{ 'scale-description': isEven(i), 'no-scale-description': !isEven(i) }" class="description-container">
            <span  class="project-name">{{ project.projectName }}</span>
            <span class="languages">{{ project.languages }}</span>
            <span class="description">{{ project.projectDescription }}</span>
        </div>
        <div [ngClass]="{ 'scale-button': isEven(i) }" class="buttons">
            <button class="live-test-button">Live Test</button>
            <button class="github-button"> Github</button>
        </div>
    </div>
</div>
