.main-container {
    background-color: rgba(20, 29, 47, 1);
    padding-top: 80px;
}

.headline {
    font-family: 'Poppins';
    font-weight: 700;
    font-size: 90px;
    color: white;
    z-index: 5;
    background-color: rgba(20, 29, 47, 1);
    padding-inline: 20px;
}

.introduction {
    font-family: 'Poppins';
    font-weight: 400;
    font-size: 16px;
    color: white;
}

.header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
}

.purple-line {
    height: 3px;
    background-color: rgb(151, 71, 255);
    position: absolute;
    width: 70vw;
    right: 0;
    top: 45%;
}

.project-second{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-left: 80px;
    padding-right: 80px;
    padding-inline: 200px;
    flex-direction: row-reverse;
}