<div class="main-container">
    <div class="header">
        <div class="purple-line"></div>
        <div class="headline">Portfolio
        </div>
        <div class="introduction">This page is a sample of my work - please feel free to try them out.</div>
    </div>

    <div class="project-first">
        <div class="left-side">
            <img src="assets/img/projects/pollo-loco.png" alt="">
        </div>
        <div class="right-side">
            <div class="description-container">
                <span class="project-name">El-Pollo-Loco</span>
                <span class="languages">JavaScript | HTML | CSS</span>
                <span class="description">A simple Jump-and-Run game based on an object-oriented approach. Help El-Pollo-Loco to find coins
                    and
                    poison bottles to fight against the killer chicken.</span>
            </div>
            <div class="buttons">
                <button class="live-test-button">Live Test</button>
                <button class="github-button"> Github</button>
            </div>
        </div>
    </div>

    <div class="project-second">
        <div class="left-side">
            <img src="assets/img/projects/pollo-loco.png" alt="">
        </div>
        <div class="right-side">
            <div class="description-container">
                <span class="project-name">El-Pollo-Loco</span>
                <span class="languages">JavaScript | HTML | CSS</span>
                <span class="description">A simple Jump-and-Run game based on an object-oriented approach. Help El-Pollo-Loco to find coins
                    and
                    poison bottles to fight against the killer chicken.</span>
            </div>
            <div class="buttons">
                <button class="live-test-button">Live Test</button>
                <button class="github-button"> Github</button>
            </div>
        </div>
    </div>
</div>