<div class="main-container">
    <img class="shadow" src="assets/img/background/purple_shadow3.png" alt="">
    <img class="shadow2" src="assets/img/background/green_shadow3.png" alt="">
    <div class="header slide-in" data-direction="right">
        <div class="purple-line"></div>
        <div class="headline">Portfolio
        </div>
        <div class="introduction">{{"portfolioIntroduction" | translate}}</div>
    </div>
</div>

<div class="project-container">
    <app-projects></app-projects>
</div>

