<div class="wide-screen-align">
    <div class="main-container">
        <div class="left-side slide-in" data-direction="left">
            <div class="headline">
                <h2>{{ 'about me' | translate}}</h2>
            </div>
            <div class="introduction">
                {{ 'hello' | translate}}
            </div>
            <div class="informations">
                <div class="bulp-information"><img src="assets/img/icons/bulb_desktop.svg" alt="">
                    {{ 'bulp' | translate}}
                </div>
                <div class="puzzle-information"><img src="assets/img/icons/puzzle_desktop.svg" alt="">
                    {{ 'puzzle' | translate}}
                </div>
            </div>
        </div>
        <div class="right-side slide-in" data-direction="right">
            <div class="circle">
                <img src="assets/img/me/me2.png" alt="">
               
              
            </div>
            <div class="line"></div>
        </div>
    </div>
    
    <img class="background-purple" src="assets/img/background/purple_shadow2.png" alt="">
   
</div>