<div  class="main-container">
    <div class="left-side " >
        <div class="headline">
            <h2>About me</h2>
        </div>
        <div class="introduction">
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Magni eligendi aperiam illum fugiat ab excepturi
            nobis consequatur laborum, amet eos quam ullam deleniti cum velit suscipit, modi saepe, quos voluptas!
            Vitae sit exercitationem beatae neque aspernatur reprehenderit magnam sed quidem impedit! Rerum, enim eaque!
            Dolorem, consequatur amet enim dolores nostrum perspiciatis voluptatum, ad molestias eius, pariatur
            cupiditate explicabo provident quae.
            Aliquam omnis dolores mollitia velit obcaecati quibusdam enim, harum voluptatem voluptas sequi, sed hic
            doloribus ipsam nulla nobis voluptatum aut ullam amet? Ea quas at natus quidem, quasi velit cumque.
            Quia deleniti architecto, repellat dolor ex doloribus facilis quibusdam blanditiis magnam, delectus qui
            voluptas natus, hic perspiciatis aut cupiditate fuga eum esse! Rerum incidunt quos quam, qui dicta
            blanditiis dolore!
        </div>
        <div class="informations">
            <div class="bulp-information"><img src="assets/img/icons/bulb_desktop.svg" alt="">
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Tenetur, nostrum? Iure eum corporis delectus
                incidunt aperiam mollitia molestiae assumenda, qui at error asperiores consequuntur deleniti magni ab
                laboriosam esse est.
                Explicabo rerum error distinctio officia quisquam porro nostrum aperiam dolore aliquid voluptatem iusto,
                deleniti cum modi, quod, accusamus assumenda culpa vero. Molestiae, aspernatur. Earum, maiores. Libero
                magni voluptas aspernatur earum!
            </div>
            <div class="puzzle-information"><img src="assets/img/icons/puzzle_desktop.svg" alt="">
                Lorem ipsum dolor, sit amet consectetur adipisicing elit. Quasi eligendi exercitationem praesentium
                doloribus dicta reprehenderit placeat excepturi, beatae eos blanditiis a, minima dolor molestias iusto?
                Laudantium molestias hic dolore quis.
                Fugiat repudiandae totam ipsum nobis tempore, vero maiores expedita? Maxime sapiente molestias quod!
                Rerum officiis, deleniti exercitationem reiciendis nam eius. Minus accusantium facilis officiis
                voluptatem aut saepe cupiditate placeat ullam!
            </div>
        </div>
    </div>
    <div class="right-side " >
        <div class="circle">
            <img src="assets/img/me/me2.png" alt="">

        </div>
        <div class="line"></div>

        <img src="assets/img/background/purple_shadow2.png" alt="">
    </div>
</div>