<div class="test">
    <div class="main-container">
        <div class="left-side slide-in" data-direction="left">
            <div class="headline">
                <h2>About me</h2>
            </div>
            <div class="introduction">
                Hello, I'm a passionate frontend developer with extensive experience in creating websites and
                sophisticated
                web applications using JavaScript and Angular.
                My strength lies in translating innovative design concepts into high-quality code.
                Thanks to my comprehensive skills and diverse project experiences, I am capable of successfully
                executing
                complex projects.
                I warmly invite you to take a glimpse into my work, which encompasses responsive websites and business
                applications.
            </div>
            <div class="informations">
                <div class="bulp-information"><img src="assets/img/icons/bulb_desktop.svg" alt="">
                    My goal is to make each project a positive experience for the user.
                    I believe that successful solutions should not only be functional but also provide genuine delight
                    for
                    users.
                    To achieve this, I leverage cutting-edge technologies and employ my passion for creative innovation
                    to
                    extract the best from every project.
                </div>
                <div class="puzzle-information"><img src="assets/img/icons/puzzle_desktop.svg" alt="">
                    I am deeply convinced that the combination of technical brilliance and a strong focus on the needs
                    of
                    users can lead to truly impressive results.
                    For me, this means not only ensuring that the technical aspects of a project are robust and
                    efficient,
                    but also ensuring that they seamlessly align with the needs and preferences of end users.
                </div>
            </div>
        </div>
        <div class="right-side slide-in" data-direction="right">
            <div class="circle">
                <img src="assets/img/me/me2.png" alt="">
               
              
            </div>
            <div class="line"></div>
        </div>
    </div>
    
    <img class="background-purple" src="assets/img/background/purple_shadow2.png" alt="">
   
</div>