<div class="main-container">
    <div class="left-side">
        <div class="picture">
            <img class="shadow" src="assets/img/background/purple_shadow.png" alt="">
            <img class="shadow2" src="assets/img/background/green_shadow.png" alt="">
            <img class="profile-pic" src="assets/img/me/me_edit.png" alt="">
        </div>

        <img class="background" src="assets/img/background/vector.png" alt="">

    </div>
    <div class="right-side">
        <div class="about-me">
            <div class="introduction"> <span class="first-letter">I</span> am</div>
            <div class="description">
                <h1>Jad El Nader</h1>
                <h2> Frontend Developer</h2>
            </div>
        </div>
        <button>Let's Talk</button>
    </div>
</div>