<div class="main-container">
        <div class="left-side">
            <div class="picture">
                <img class="shadow" src="assets/img/background/purple_shadow.png" alt="">
                <img class="shadow2" src="assets/img/background/green_shadow.png" alt="">
                <img class="profile-pic" src="assets/img/me/me_edit.png" alt="">
            </div>

            <img class="background" src="assets/img/background/vector.png" alt="">

        </div>
        <div class="right-side">
            <div class="about-me">
                <div class="introduction"> <span class="first-letter">I</span> am</div>
                <div class="description">
                    <h1>Jad El Nader</h1>
                    <h2> Frontend Developer</h2>
                </div>
            </div>
            <a href="#contact-page"> <button> Let's Talk</button></a>
        </div>
    
</div>
<div class="links">
    <div class="purple-line"></div>
    <div class="icons">
        <a target="_blank" href="https://github.com/Jad134"> <img src="assets/img/icons/github_icon.png" alt=""></a>
        <a href="mailto:jadelnader99@gmail.com"><img src="assets/img/icons/mail_icon.png" alt=""></a>
        <a target="_blank" href="https://www.linkedin.com/in/jad-el-nader-5825b4286/?trk=public-profile-join-page"><img
                src="assets/img/icons/linked_icon.png" alt=""></a>
    </div>
    <div class="mail">Jadelnader99&commat;gmail.com</div>
    <div class="scroll-info">Scroll down <img src="assets/img/icons/arrow_down.png" alt=""></div>
</div>