@media (min-width: 1930px) {
    .wide-screen-align {
        display: flex;
        flex-direction: column;
        align-items: center;
        height: 100vh;
    }

    .main-container {
        max-width: 1920px;

    }

    .profile-pic {
        left: 20%;
    }

    .shadow2 {
        left: 300px;
    }

    .shadow {
        left: -33px;
    }

    .background-widescreen {
        position: absolute;
        width: 100%;
        height: 700px;
        top: 39%;
        z-index: 100;
        background: none;
        display: flex;
    }

    .background {
        display: none;
    }

    .links {
        width: 1920px;
        padding-top: 100px;
    }

    .scroll-info {
        right: 0;
    }
}

@media (min-height: 1100px) {
    // .main-container {
    //     height: 100vh;
    // }

    .background {
        top: 27vh;
    }

    .background-widescreen {
        top: 41vh;
    }
}

@media (min-height: 1300px) {
    .background-widescreen {
        top: 35vh;
    }
}

@media (min-height: 1400px) {
    .background-widescreen {
        top: 31vh;
    }
}

@media (min-height: 2000px) {
    .background-widescreen {
        top: 20vh;
    }
}

@media (max-height: 950px) {
    .background-widescreen {
        top: 45%;
    }
}

// Bugfix 7.1. for rensponsive

@media (max-width: 1565px) and (min-width: 1430px) {
    .about-me{
        flex-direction: column;
    }

    .introduction{
        transform: rotate(0deg) !important;
    }
}

@media(max-width: 1430px) {
    .right-side {
        position: absolute;
        right: 48px;
        background: none;
        width: auto;

        >a {
            background: none;
        }
    }

    .about-me {
        background: none;
    }

    .introduction {
        background: none;
    }

    .first-letter {
        background: none;
    }

    .description {
        background: none;

        >h1 {
            background: none;
        }

        >h2 {
            background: none;
        }
    }
}

@media(max-width: 1260px) {
    .about-me {
        flex-direction: column;
    }

    .introduction {
        transform: rotate(0) !important;
    }
}

@media(max-width: 1200px) {
    .main-container {
        flex-direction: column;
    }

    .right-side {
        position: unset;
        margin-top: 0;
        z-index: 101;
        height: 400px;

        >a {
            >button {
                position: unset;
            }
        }
    }

    .description {
        z-index: 101;
    }

    .shadow {
        left: 10px;
    }

    .shadow2 {
        left: 50vh;
        top: -80px;
    }

    .profile-pic {
        left: 20vh;
    }

    .links {
        position: relative;
        width: auto;

    }

    .wide-screen-align {
        height: auto;
    }
}

@media(max-width: 950px) {
    .shadow {
        left: -136px;
    }

    .shadow2 {
        left: 30vh;
        top: -80px;
    }

    .profile-pic {
        left: 10vh;
    }
}

@media(max-width: 830px) {
    .scroll-info {
        display: none;
    }
}

@media(max-width: 730px) {
    .shadow {
        left: -245px;
    }

    .shadow2 {
        left: 11vh;
        top: -18px;
    }

    .profile-pic {
        left: -6vh;
    }
}

@media(max-width: 700px) {
    .mail {
        display: none;
    }

    .icons {
        gap: 80px;
    }

    .about-me {
        flex-direction: unset;
    }

    .introduction {
        transform: rotate(-90deg) !important;
        font-size: 45px
    }

    .description {
        gap: 8px;
        display: flex;
        flex-direction: column;

        >h1 {
            font-size: 70px;
        }

        >h2 {
            font-size: 45px;
        }
    }

    .right-side {
        height: 250px;
    }
}

@media(max-width: 590px) {
    .description {
        gap: 0px;
        position: relative;

        >h1 {
            font-size: 60px;
        }

        >h2 {
            font-size: 39px;
        }
    }

    .introduction {
        transform: rotate(-90deg) !important;
        font-size: 39px;
        position: absolute;
        left: -13px;
    }

    .profile-pic {
        height: 600px;
    }

    .background {
        top: 37vh;
    }

    .shadow2 {
        height: 700px;
    }
}

@media (max-width:500px) {
    .right-side {
        height: 140px;

        >a {
            >button {
                width: 133px;
                height: 49px;
                font-size: 16px;

                &:hover {
                    width: 133px;
                    height: 49px;
                }
            }
        }

    }

    .profile-pic {
        height: 500px;
    }

    .background {
        top: 28vh;
    }

    .shadow2 {
        height: 600px;
    }

    .description {
        gap: 8px;

        >h1 {
            font-size: 45px;
        }

        >h2 {
            font-size: 29px;
        }
    }

    .introduction {
        left: -50px;
        font-size: 26px;
    }

    .about-me {
        position: relative;
    }

    .icons {
        gap: 42px;
    }

    .links {
        padding-top: 50px;
    }
}

@media (max-width:440px) {
    .background {
        width: auto;
        top: 16vh;
    }

    .profile-pic {
        height: 400px;
    }

    .shadow {
        top: -32px;
    }

    .shadow2 {
        left: 0;
        top: 20px;
    }

    .purple-line {
        width: 64px;
    }
}

@media (max-width:370px) {
    .right-side {
        width: 100vw;
    }
}

@media (max-width:350px) {
    .profile-pic {
        left: -9vh;
    }

    .introduction {
        left: -42px;
        font-size: 22px;
    }

    .description {
        >h1 {
            font-size: 41px;
        }

        >h2 {
            font-size: 25px;
            text-align: center;
        }
    }
}

@media (max-height:520px) {
    .profile-pic {
        height: 343px;
    }

}