@media(max-width: 1430px) {
    .right-side {
        position: absolute;
        right: 48px;
        background: none;
        width: auto;

        >a {
            background: none;
        }
    }

    .about-me {
        background: none;
    }

    .introduction {
        background: none;
    }

    .first-letter {
        background: none;
    }

    .description {
        background: none;

        >h1 {
            background: none;
        }

        >h2 {
            background: none;
        }
    }
}

@media(max-width: 1260px) {
    .about-me {
        flex-direction: column;
    }

    .introduction{
        transform: rotate(0) !important;
    }
}

@media(max-width: 1200px) {

    .main-container{
        flex-direction: column;
    }
    
    .right-side{
        position: unset;
        margin-top: 0;
        z-index: 101;
        height: 400px;
        >a{
            >button{
                position: unset;
            }
        }  
    }

    .description{
        z-index: 101;
    }

    .shadow{
        left: 10px;
    }

    .shadow2{
        left: 50vh;
        top: -80px;
    }

    .profile-pic{
        left: 20vh;
    }
}

@media(max-width: 950px) {
    .shadow{
        left: -136px;
    }

    .shadow2{
        left: 30vh;
        top: -80px;
    }

    .profile-pic{
        left: 10vh;
    }
}


@media(max-width: 730px) {
    .shadow{
        left: -245px;
    }

    .shadow2{
        left: 11vh;
        top: -18px;
    }

    .profile-pic{
        left: -6vh;
    }
}