@media (min-width: 2200px) and (max-width: 2999px) {
    .purple-line {
        width: 200px;
    }
}

@media (min-width: 3000px) and (max-width: 3999px) {
    .purple-line {
        width: 500px;
    }
}

@media (min-width: 4000px) {
    .purple-line {
        width: 800px;
    }
}

@media (max-width:1580px) {
    // .purple-line {
    //     width: 200px;
    // }

    .left-side {
        height: auto;
    }
}

@media (max-width:1400px) {
    .purple-line {
        width: 100px;
    }
}

@media (max-width:1370px) {
    .purple-line {
        top: 36%;
    }
}

@media (max-width:1300px) {
    .purple-line {
        width: 410px;
        top: 33%;
    }

    .main-container {
        flex-direction: column-reverse;
        padding-left: 0;
        height: auto;
        margin-left: 0px;
        margin-right: 0px;
    }

    .right-side {
        width: 66%;
        align-items: end;
        padding-right: 437px;
        gap: 0;

        >a {
            >button {
                display: none;
            }
        }
    }

    .left-side {
        width: auto;
        align-items: center;
        justify-content: center;
        padding-right: 80px;
        padding-top: 40px;
        padding-left: 80px;
        padding-inline: 250px;
    }

    .icons {
        gap: 200px;
    }

    .responsive-button {
        >button {


            background-color: rgb(112, 230, 28);
            color: white;
            width: 200px;
            height: 58px;
            border: none;
            border-radius: 10px;
            font-family: 'Poppins';
            font-size: 23px;
            font-weight: 400;
            transition: 125ms ease-in;
            cursor: pointer;

            &:hover {
                background-color: rgba(151, 71, 255, 1);
                width: 210px;
                height: 70px;
            }
        }
    }

    .responsive-button-container {
        height: 80px;
        width: 100%;
        display: flex;
        justify-content: center;
        padding-top: 40px;
    }
}

@media (max-width:1200px) {
    .purple-line {
        width: 350px;
        top: 28%;
    }
}

@media (max-width:1000px) {
    .purple-line {
        width: 245px;
        top: 33%;
    }

    .right-side {
        padding-right: 300px;

    }

    .icons {
        gap: 150px;
    }

    .left-side {
        padding-inline: 0px;
    }
}

@media (max-width:850px) {
    .purple-line {
        width: 190px;
    }

    .right-side {
        padding-right: 200px;
        width: auto;

    }

    .icons {
        gap: 150px;
    }
}

@media (max-width:800px) {
    .purple-line {
        width: 190px;
    }

    .right-side {
        padding-right: 200px;

    }

    .icons {
        gap: 100px;
    }
}

@media (max-width:750px) {
    .purple-line {
        width: 140px;
    }

    .right-side {
        padding-right: 150px;

    }

    .icons {
        gap: 100px;
    }
}

@media (max-width:700px) {
    .left-side {
        //padding-right: 40px;

    }

    .main-container {
        padding-left: 20px;
        padding-right: 20px;
    }

    .shadow{
        top: 218px;
    }
}


@media (max-width:660px) {
    .right-side {
        padding-right: 100px;
    }

    .icons {
        gap: 50px;
    }

    .purple-line {
        width: 90px;
        top: 28%;
    }

}

@media(max-width: 620px) {
    .headline {
        font-size: 45px;
    }

    .right-side {
        padding-right: 40px;
    }

    .purple-line {
        width: 30px;
    }

    .icon-container {
        >img {
            width: 45px;
            height: 45px;
        }
    }
}

@media(max-width: 550px) {
    .main-container {
        padding-left: 0px;
    }

    .left-side {
        //padding-right: 10px;
        padding-left: 10px;
        justify-content: center;
    }
}

@media (max-width:517px) {
    .purple-line {
        top: 24%;
    }
}

@media (max-width:500px) {
    .purple-line {
        top: 23%;
    }
}

@media(max-width: 400px) {
    .main-container {
        padding-left: 0px;
    }

    .left-side {
        gap: 40px;
    }
}

@media(max-width: 360px) {
    .right-side {
        padding-left: 20px;
    }
}

@media(max-width: 352px) {
    .purple-line{
        top:21%;
    }
}