<div class="main-container">
    <div class="left-side">
        <div  class="icons">
            <div class="icon-container">
                <img src="assets/img/icons/angular.png" alt="">
                Angular
            </div>
            <div class="icon-container">
                <img src="assets/img/icons/typescript.png" alt="">
                Typescript
            </div>
            <div class="icon-container">
                <img src="assets/img/icons/javascript.png" alt="">
                Javascript
            </div>
            <div class="icon-container">
                <img src="assets/img/icons/html.png" alt="">
                HTML
            </div>
        </div>
        <div class="icons">
            <div class="icon-container">
                <img src="assets/img/icons/firebase.png" alt="">
                Firebase
            </div>
            <div class="icon-container">
                <img src="assets/img/icons/github.png" alt="">
                GIT
            </div>
            <div class="icon-container">
                <img src="assets/img/icons/css.png" alt="">
                CSS
            </div>
            <div class="icon-container">
                <img src="assets/img/icons/api.png" alt="">
                Rest-Api
            </div>
        </div>
        <div class="icons">
            <div class="icon-container">
                <img src="assets/img/icons/scrum.png" alt="">
                Scrum
            </div>

            <div class="icon-container">
                <img src="assets/img/icons/material.png" alt="">
                Material <br> Design
            </div>
        </div>
        <img src="assets/img/background/green_shadow2.png" alt="">
    </div>
    <div class="right-side">
        <div class="headline">My skills
            <div class="purple-line"></div>
        </div>
        <div class="description">have gained experience in building projects with various <br> front end technologies
            and concepts</div>
        <a href="#contact-page"> <button> Get in touch</button></a>
    </div>
</div>