//  .main-container {
//      background-color: rgba(20, 29, 47, 1);
//      display: flex;
//      padding-left: 80px;
//      padding-top: 200px;
//      overflow:hidden;
//      position: relative;
//  }

 .left-side {
     width: 40%;
     display: flex;
     gap: 54px;
     position: relative;
     z-index: 1;
     flex-wrap: wrap;
     height: 20px;
    

     >img {
         position: absolute;
         left: -100px;
         top: 70px;
     }
 }

 .icons {
     display: flex;
     align-items: flex-start;
     gap: 123px;
    
 }

 .icon-container {
     display: flex;
     flex-direction: column;
     align-items: center;
     font-family: 'Poppins';
     font-weight: 700;
     font-size: 16px;
     color: white;
     width: 80px;
     gap: 8px;
     text-align: center;

     >img {
         z-index: 5;
         width: 60px;
         height: 60px;
         -webkit-animation-duration: 1s;
         animation-duration: 1s;
         -webkit-animation-fill-mode: both;
         animation-fill-mode: both;
         -webkit-animation-timing-function: ease-in-out;
         animation-timing-function: ease-in-out;
         animation-iteration-count: infinite;
         -webkit-animation-iteration-count: infinite;
         

         &:hover {
             cursor: pointer;
             animation-name: bounce;
             -moz-animation-name: bounce;
         }
     }
 }

 .right-side {
    //  width: 60%;
     display: flex;
     flex-direction: column;
     align-items: center;
     gap: 45px;
     overflow: hidden;

     >a {

         >button {
             background-color: rgb(112, 230, 28);
             color: white;
             width: 200px;
             height: 58px;
             border: none;
             border-radius: 10px;
             font-family: 'Poppins';
             font-size: 23px;
             font-weight: 400;
             transition: 125ms ease-in;
             cursor: pointer;

             &:hover {
                 background-color: rgba(151, 71, 255, 1);
                 width: 210px;
                 height: 70px;
             }
         }
     }
 }

 .headline {
     font-family: 'Poppins';
     font-weight: 700;
     font-size: 90px;
     color: white;
     display: flex;
     align-items: center;
 }

 .description {
     font-family: 'Poppins';
     font-weight: 400;
     font-size: 16px;
     color: white;
     text-align: right;
 }

//  .purple-line {
//      height: 3px;
//      background-color: rgba(151, 71, 255, 1);
//      width: 245px;
//      position: absolute;
//      right: 0;
//      border-radius: 10px;
//      overflow: hidden;
//  }


 @keyframes bounce {

     0%,
     100%,
     20%,
     50%,
     80% {
         -webkit-transform: translateY(0);
         -ms-transform: translateY(0);
         transform: translateY(0)
     }

     40% {
         -webkit-transform: translateY(-30px);
         -ms-transform: translateY(-30px);
         transform: translateY(-30px)
     }

     60% {
         -webkit-transform: translateY(-15px);
         -ms-transform: translateY(-15px);
         transform: translateY(-15px)
     }
 }

 .shadow{
    position: absolute;
    left: 0;
    height: 670px;
    width: 150px;
    top: 0;
 }

 .responsive-button-container{
    display: none;
 }

 //------------------------New for responsive-----------------------

 .test{
    background-color: rgb(20, 29, 47);
    display: flex;
    justify-content: space-evenly;
    position: relative;
 }

 .main-container {
    background-color: rgb(20, 29, 47);
    display: flex;
    /* padding-left: 80px; */
    padding-top: 200px;
    overflow: hidden;
    position: relative;
    max-width: 1920px;
    justify-content: space-between;
    margin-left: 80px;
    margin-right: 80px;
    min-height: 411px;
    
}

.purple-line {
    height: 3px;
    background-color: rgb(151, 71, 255);
    width: 245px;
    position: absolute;
    right: 0;
    border-radius: 10px;
    overflow: hidden;
    top: 50%;
}
 