<div class="main-container">
    <div class="logo">
       <span (click)="scrollToTop()" style="display: flex;" #scrollContainer>
        Ja <span class="purple">d</span>
       </span> 
        <a target="_blank" href="impressum">Impressum</a>
    </div>
    <div class="copyright"> &copy;Jad El Nader 2024</div>
    <div class="icons">
        <a href="">  <img src="assets/img/icons/github_icon.png" alt=""></a>
        <a href=""><img src="assets/img/icons/mail_icon.png" alt=""></a>
        <a href=""><img src="assets/img/icons/linked_icon.png" alt=""></a>
    </div>
</div>