<div class="wide-screen-align">
    <div class="main-container">
        <div class="logo">
            <span (click)="scrollToTop()" style="display: flex;" #scrollContainer>
                Ja <span class="purple">d</span>
            </span>
            <a target="_blank" href="impressum">Impressum</a>
        </div>
        <div class="copyright"> &copy;Jad El Nader 2024</div>
        <div class="icons">
            <a target="_blank" href="https://github.com/Jad134"> <img src="assets/img/icons/github_icon.png" alt=""></a>
            <a target="_blank" href="mailto:jadelnader99@gmail.com"><img src="assets/img/icons/mail_icon.png"
                    alt=""></a>
            <a target="_blank"
                href="https://www.linkedin.com/in/jad-el-nader-5825b4286/?trk=public-profile-join-page"><img
                    src="assets/img/icons/linked_icon.png" alt=""></a>
        </div>
        <a class="mobile-impressum" target="_blank" href="impressum">Impressum</a>
    </div>
</div>