@media (min-width: 1930px) {
    .wide-screen-align{
        background-color: rgb(20, 29, 47);
        display: flex;
        justify-content: center;
        border-top: 4px solid rgb(112, 230, 28);
    }

    .main-container{
        justify-content: space-between;
        max-width: 1920px;
        width: 100%;
        border-top: 0;
    }
}

@media (max-width: 600px) {
    .main-container {
        flex-direction: column;
    }

    .logo {
        >a {
            display: none;
        }
    }

    .mobile-impressum {
        display: flex;
        font-size: 16px;
        font-weight: 400;
        color: white;
        font-family: 'Poppins';
        text-decoration: none;
        position: relative;
        bottom: 0;

        &::before {
            content: '';
            position: absolute;
            width: 0;
            height: 2px;
            bottom: 0;
            background-color: rgba(151, 71, 255, 1);
            transition: width 0.3s ease-in-out;
        }

        &:hover {
            &::before {
                width: 100%;
            }
        }
    }
}